* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.tools-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(230, 235, 224);
    border-radius: 20px;
    border: rgba(255, 0, 0, 0.067) solid 2px;
}
.converter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin-bottom: 20px;
}
.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 35px;
}
.header h1{
    font-size: 30px;

}
.subtitle{
    font-size: 15px;
}